<a href="https://colab.research.google.com/github/Yahnavi/ML_Lab/blob/main/2_Fundamental_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist = [1,"two",2,("four","five"),{"six":6,"seven":7}]

In [ ]:
type(mylist)

In [ ]:
print("1st element ",mylist[0])
print("2nd element ",mylist[1])
print("3rd element ",mylist[2])
print("4th element ",mylist[3])
print("5th element ",mylist[4])

1st element  1
2nd element  two
3rd element  2
4th element  ('four', 'five')
5th element  {'six': 6, 'seven': 7}

In [ ]:
print("5th element ",mylist[-1])
print("4th element ",mylist[-2])
print("3rd element ",mylist[-3])
print("2nd element ",mylist[-4])
print("1st element ",mylist[-5])

5th element  {'six': 6, 'seven': 7}
4th element  ('four', 'five')
3rd element  2
2nd element  two
1st element  1

In [ ]:
len(mylist)

5

In [ ]:
mytuple = (1,"two",3,("four","five"),{"six":6,"seven":7})

In [ ]:
type(mytuple)

In [ ]:
print("1st element ",mytuple[0])
print("2nd element ",mytuple[1])
print("3rd element ",mytuple[2])
print("4th element ",mytuple[3])
print("5th element ",mytuple[4])

1st element  1
2nd element  two
3rd element  3
4th element  ('four', 'five')
5th element  {'six': 6, 'seven': 7}

In [ ]:
print("6th element ",mytuple[-1])
print("4th element ",mytuple[-2])
print("3rd element ",mytuple[-3])
print("2nd element ",mytuple[-4])
print("1st element ",mytuple[-5])

6th element  {'six': 6, 'seven': 7}
4th element  ('four', 'five')
3rd element  3
2nd element  two
1st element  1

In [ ]:
len(mytuple)

5

In [ ]:
myset = {1,"two",3,("four","five"),"two",1}

In [ ]:
type(myset)

set

In [ ]:
len(myset)

4

#### Note above that though we add 6 elements to the set, since two of them are duplicates, they have not been taken into consideration

In [ ]:
for el in myset:
    print(el)

two
3
1
('four', 'five')

In [ ]:
mydict = {(1):"one","two":2,3:"three"}

In [ ]:
type(mydict)

In [ ]:
mydict.get((2))

In [ ]:
mydict.get("two")

2

In [ ]:
mydict.get(3)

'three'