<a href="https://colab.research.google.com/github/Yahnavi/ML_Lab/blob/main/2_Fundamental_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist = [1,"two",3,("four","five"),{"six":6,"seven":7}]

In [ ]:
type(mylist)

list

In [ ]:
print("1st element ",mylist[0])
print("2nd element ",mylist[1])
print("3rd element ",mylist[2])
print("4th element ",mylist[3])
print("5th element ",mylist[4])

1st element  1
2nd element  two
3rd element  3
4th element  ('four', 'five')
5th element  {'six': 6, 'seven': 7}

In [ ]:
print("5th element ",mylist[-1])
print("4th element ",mylist[-2])
print("3rd element ",mylist[-3])
print("2nd element ",mylist[-4])
print("1st element ",mylist[-5])

5th element  {'six': 6, 'seven': 7}
4th element  ('four', 'five')
3rd element  3
2nd element  two
1st element  1

In [ ]:
len(mylist)

5

In [ ]:
mytuple = (1,"two",3,("four","five"),{"six":6,"seven":7}, ['aq','be'])

In [ ]:
type(mytuple)

tuple

In [ ]:
print("1st element ",mytuple[0])
print("2nd element ",mytuple[1])
print("3rd element ",mytuple[2])
print("4th element ",mytuple[3])
print("5th element ",mytuple[4])

1st element  1
2nd element  two
3rd element  3
4th element  ('four', 'five')
5th element  {'six': 6, 'seven': 7}

In [ ]:
print("5th element ",mytuple[-1])
print("4th element ",mytuple[-2])
print("3rd element ",mytuple[-3])
print("2nd element ",mytuple[-4])
print("1st element ",mytuple[-5])

In [ ]:
len(mytuple)

6

In [ ]:
# myset = {1,"two",3,("four","five"),"two",1, [1, 2, 2]} : error : lists cannot be stored in sets.
myset = {1,"two",3,("four","five"),"two",1}

In [ ]:
type(myset)

set

In [ ]:
len(myset)

4

#### Note above that though we add 6 elements to the set, since two of them are duplicates, they have not been taken into consideration

In [ ]:
for el in myset:
    print(el)

1
3
('four', 'five')
two

Dictionaries in Python

In [ ]:
mydict = {(1):"one","two":2,3:"three"}

In [ ]:
type(mydict)

dict

In [ ]:
mydict.get((1))

'one'

In [ ]:
mydict.get("two")

2

In [ ]:
mydict.get(3)

'three'

In [ ]:
mydict.keys() # to access all the keys as a list

dict_keys([1, 'two', 3])

In [ ]:
mydict.values() # to access values in a dict as a list.

dict_values(['one', 2, 'three'])

In [ ]:
mydict.items() # to access key, value pair as a tuple each.

dict_items([(1, 'one'), ('two', 2), (3, 'three')])

In [ ]:
mydict.update({4:'four'}) # to update items to dictionary either existing or new item.

In [ ]:
mydict

{1: 'one', 'two': 2, 3: 'three', 4: 'four'}

In [ ]:
mydict.pop('two') # to remove items from dictionary

2

In [ ]:
mydict

{}

In [ ]:
mydict.popitem() # to remove last inserted item.

(4, 'four')

In [ ]:
mydict.clear() # to remove all items from the dictionary.

In [ ]:
mydict[1] = 'one'
mydict[2] = 'two'
mydict[3] = 'three'

In [ ]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
for x in mydict:
  print(x)

1
2
3

In [ ]:
for x in mydict.keys():
  print(x)

1
2
3

In [ ]:
for x in mydict.values():
  print(x)

one
two
three

In [ ]:
for x in mydict.items():
  print(x)

(1, 'one')
(2, 'two')
(3, 'three')

In [ ]:
dict2 = mydict.copy()

In [ ]:
dict2

{1: 'one', 2: 'two', 3: 'three'}