<a href="https://colab.research.google.com/github/Yahnavi/ML_Lab/blob/main/4_Operators_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Instructions
Run each cell to understand how each of the operation works. Try to change the values or add new cells with the `Insert` option in the menu on top and try to extend your understanding and challenge yourself.

### Arithmetic Operations

In [3]:
#Declare the variables to use for the operations
x = 10
y = 3

In [4]:
print("The result of addition operation is ",x+y)

The result of addition operation is  13

In [5]:
print("The result of subtraction operation is ",x-y)

The result of subtraction operation is  7

In [6]:
print("The result of multiplication operation is ",x*y)

The result of multiplication operation is  30

In [7]:
print("The result of division operation is ",x/y)

The result of division operation is  3.3333333333333335

In [8]:
print("The result of Floor division operation is ",x//y)

The result of Floor division operation is  3

Observe the result of the floor divison in the previous step

In [9]:
print("The result of exponentiation operation is ",x**y)

The result of exponentiation operation is  1000

### Comparison Operations

In [10]:
print("The output of the comparison 4>3 is ",4>3)
print("The output of the comparison 3>4 is ",3>4)

The output of the comparison 4>3 is  True
The output of the comparison 3>4 is  False

In [11]:
print("The output of the comparison 4<3 is ",4<3)
print("The output of the comparison 3<4 is ",3<4)

The output of the comparison 4<3 is  False
The output of the comparison 3<4 is  True

In [12]:
print("The output of the comparison 3 == 3 is ",3 == 3)
print("The output of the comparison 3 == 4 is ",3 == 4)

The output of the comparison 3 == 3 is  True
The output of the comparison 3 == 4 is  False

In [13]:
print("The output of the comparison 3 >= 3 is ",3 >= 3)
print("The output of the comparison 3 >= 2 is ",3 >= 2)
print("The output of the comparison 3 >= 5 is ",3 >= 5)

The output of the comparison 3 >= 3 is  True
The output of the comparison 3 >= 2 is  True
The output of the comparison 3 >= 5 is  False

In [14]:
print("The output of the comparison 3 <= 3 is ",3 <= 3)
print("The output of the comparison 3 <= 5 is ",3 <= 5 )
print("The output of the comparison 3 <= 2 is ",3 <= 2)

The output of the comparison 3 <= 3 is  True
The output of the comparison 3 <= 5 is  True
The output of the comparison 3 <= 2 is  False

In [15]:
print("The output of the comparison 3 != 4 is ",3 != 4)
print("The output of the comparison 3 != 3 is ",3 != 3)

The output of the comparison 3 != 4 is  True
The output of the comparison 3 != 3 is  False

### Logical Operators

In [17]:
#both true
print("The output of the 3>2 and 4>1 is ",3>2 and 4>1)

#First false, Second true
print("The output of the 3<2 and 4>1 is ",3<2 and 4>1)

#Second false, First true
print("The output of the 3>2 and 4<1 is ",3>2 and 4<1)

The output of the 3>2 and 4>1 is  True
The output of the 3<2 and 4>1 is  False
The output of the 3>2 and 4<1 is  False

In [18]:
#both true
print("The output of the 3>2 or 4>1 is ",3>2 or 4>1)

#First false, Second true
print("The output of the 3<2 or 4>1 is ",3<2 or 4>1)

#Second false, First true
print("The output of the 3>2 or 4<1 is ",3>2 or 4<1)

#Both false
print("The output of the 3<2 or 4<1 is ",3<2 or 4<1)

The output of the 3>2 or 4>1 is  True
The output of the 3<2 or 4>1 is  True
The output of the 3>2 or 4<1 is  True
The output of the 3<2 or 4<1 is  False

In [19]:
print("The output of the not(True) ",not(True))
print("The output of the not(False) ",not(False))

The output of the not(True)  False
The output of the not(False)  True

In [20]:
userInput = int(input("Input a number"))

print("The output of the not(userInput>5) ",not(userInput>5))

Input a number1
The output of the not(userInput>5)  True